* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #000;
  --bg-color: #254f1a;
  --main-color: #fff;
}

.body {
  background-color: var(--bg-color);
  color: var(--main-color);
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  width: 80%;
  margin: auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.logo {
  width: 5%;
}

.about {
  border-left: 2px solid white;
  margin-top: 5%;
}

.about h2 {
  margin-left: 5%;
}

.about p {
  margin-left: 5%;
}

.about button {
  margin-left: 5%;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
}

.link {
  text-decoration: none;
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;
  font-weight: 700;
}

.link i {
  font-size: 1.3rem;
}


.link:hover {
  color: var(--main-color);
}

.about button:hover {
  background-color: transparent;
  border: 2px solid white;
}

footer {
  text-align: center;
  margin-top: 4%;
  border-top: 2px solid white;
  width: 100%;
}

footer p {
  padding-top: 2%;
  width: 90%;
  margin: auto;
}

/* Animation keyframes for header */
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Animation keyframes for about */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header animation */
header {
  animation: slideInFromRight 1s ease-out forwards;
}

header {
  animation: slideInFromRight 1s ease-out forwards;
  animation-delay: 0.3s;
}

header {
  opacity: 0; 
}


/* about animation */
.about {
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1s; /* appears after header */
  opacity: 0;
}



@media (max-width: 600px) {
  .main {
    width: 80%;
    margin: auto;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    width: 17%;
  }

  .footer {
    margin-top: 3%;
  }

  .link {
    text-decoration: none;
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
  }

  .navlink {
    font-size: 16px;
  }
}
